<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
    <link rel="stylesheet" href="/css/signup.css">
</head>
<body>
	<nav>
		<h1 class="error"> <%= title %> </h1>
	</nav>


    <header class="text-gray-600 body-font" style="background-color: rgb(248, 169, 182);">
        <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
          <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
            <img src="https://i.pinimg.com/474x/39/12/6a/39126aae6ad6f0dca775ba657d9792e4.jpg" alt="" style=" width: 90px;  height: 90px; border-radius: 40%;">
            <span class="ml-3 text-xl">GRKAB  <br>College</span>
          </a>
          <!-- <nav class="md:ml-auto md:mr-auto flex flex-wrap items-center text-base justify-center">
            <a class="mr-5 hover:text-gray-900" style="font-weight: 900;">Dashbord</a> 
            <a class="mr-5 hover:text-gray-900"></a>
            <a class="mr-5 hover:text-gray-900" style="font-weight: 900;">Library</a>
            <a class="mr-5 hover:text-gray-900" style="font-weight: 900;">Accounts Department</a>
          </nav> -->
        </div>
      </header>

<div class="mainbody">


	<div class="main">  	
		<input type="checkbox" id="chk" aria-hidden="true">
           <!-- signup -->
		   
			<div class="signup">
				<form action="/register" method="post">
					
					<label for="chk" aria-hidden="true">Sign up</label>
					<input type="text" name="name" placeholder="User name" >
					<input type="number" name="number" placeholder="PHone number" >
					<input type="email" name="email" placeholder="Email" >
					<input type="password" name="password" placeholder="Password" >
					<input type="password" name="cpassword" placeholder="Confirm Password" >
					<button type="submit">Sign up</button>
				</form>
			</div>
         <!-- login -->
			<div class="login">
				<form method="post" action="/login">
					<label for="chk" aria-hidden="true">Login</label>
					<input type="email" name="email" placeholder="Email" required="">
					<input type="password" name="password" placeholder="Password" required="">
					<button>Login</button>
				</form>
			</div>
	</div>

</div>

</body>
</html>
